.subheading {
    text-transform: none;
    letter-spacing: normal;
}

#header {
    padding-top: 2.4em;
}

.google_map {
    width: 10%;
    position: absolute;
    min-height: 50px;
    min-width: 50px;
    right: 1.25em;
}

.google_map img {
    width: 100%;
    height: 100%;
    filter: co
}

.google_map img:hover {
   
}

.image.left, .image.right {
    max-width: 50%;
}

.dimensions_img {
    max-height: 300px;
}

#wrapper > * > .inner {
    width: 80%;
}